server:
  port: 8080

spring:
  application:
    name: order-service

product:
  service:
    url: http://product-service:8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    export:
      prometheus:
        enabled: true